
body{
background-color: rgb(57, 155, 241);
}
table{
    background-color: aqua;
    border:'7px solid black'
}
td{
    border-color: brown;
    
}
.button{
    position:fixed;
    left:1500px;
    background-color: rgb(61, 137, 14);
    border-color: rgb(15, 35, 35);
    box-shadow: rgb(29, 55, 29) 10px 14px;
    border-radius: 20%;
    width: 180px;
    height: 70px;
    cursor: pointer;
    font-size: xx-large;
    text-align: center;

}
.button:hover{
    background-color: cadetblue;
}